
  
  <p class="list-group-item ranking-item">
    AVERAGE RANKINGS FROM ALL USERS
    <br>
      Editing: <br>
      Cinematography: <br>
      Acting: <br>
      Special Effects:<br>
      Sound: <br>
      Plot: <br>
      Effort: <br>
      The Average of Averages:     <br>
      Percentage of people who would watch it again: <br>
    <br>

    

  </p>





<script>
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'ranking[ranking_params]'
  });
</script>