<%= form_with model: @movie do |f| %>

    <%= f.hidden_field :user_id%>
    
     <%= render partial: 'form_bits', locals: {f: f} %>

      <br><br>
         <div class="actions">
      <%= f.submit %>
    </div>
<% end %>