<div class="container"><h1>Sign up to rank and add movies</h1></div>

==OR==<br><br>

<%= button_to "Log in with Google", '/auth/google_oauth2'  %>

<%= render partial: 'layouts/errors', locals: {object: @user} %>

<%= render 'user_form' %>