<br><br>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-footer">

  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>